page-feed {
    .feed {
        max-width: 650px;
        margin: 0 auto;
    }

    .post-editor {
        margin-bottom: 0px;
    }

    .post-editor {
        margin: 10px 10px 0px 10px;
    }

    .btn-post {
        margin: 0px 10px 10px 10px;

        button {
            margin-top: 0px;
        }
    }
    
    ion-card {
        margin-top: 15px !important;
    }

    ion-content {
        background-color: #FAFAFA !important;
    }
}